.wm_listChoiceItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 7px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  width: 100%;
}

.wm_listChoiceItemActive {
  @extend .wm_listChoiceItem;
  color: #0078D4FF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  background-color: transparent;
  background-image: linear-gradient(to bottom right, #0078D433, #0078D44D);
}