.vm_overlayContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.wm_tagOverlayHint {
  font-size: 12px;
  color: #666666;
  margin: 0 0 5px;
}