.wm_tagChoice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}

.wm_tagSectionTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0;
}

.wm_tagSectionTitleText {
  margin: 0;
}

.wm_tagSection {
  padding: 10px;
  overflow-y: auto;
}