.wm_contentView {
  display: flex;
  flex-direction: column;
}

.wm_contentNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 5px;
}

.vm_contentTitle {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wm_contentTitleMobileNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  min-width: 0;
}

.wm_sidebarOpen {
  cursor: pointer;
  color: gray;
  flex-shrink: 0;
}
